@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");
:root {
  --black: #111;
  --white: snow;
  --container-size: 600px;
}
body {
  font-family: "Electrolize", sans-serif;
  background-color: var(--white);
  color: var(--black);
}
header.mv {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 24rem;
}
header.mv::after {
  position: absolute;
  content: "";
  width: min(var(--container-size), 100%);
  border-bottom: var(--black) 2px dotted;
  bottom: 0;
}
img {
  max-width: 100%;
}
footer {
  display: flex;
  justify-content: center;
  position: relative;
}
footer::after {
  position: absolute;
  content: "";
  width: min(var(--container-size), 100%);
  border-bottom: var(--black) 2px dotted;
  top: 0;
}
a {
  color: var(--black);
}
main {
  margin: auto;
  width: min(var(--container-size), 100%);
  padding: 3rem 0.4rem;
  display: flex;
  flex-flow: column;
  gap: 3rem;
}
article {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 12rem;
  overflow: hidden;
}
article::before {
  position: absolute;
  content: "";
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-style: inset;
  width: 50px;
  height: 150%;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  z-index: -1;
  transition: all 0.5s;
}
article:hover::before {
  border-left: 20px solid var(--black);
  border-right: 10px solid var(--black);
}
